.CountryInfo-block {
  width: 70%;
  border: 2px solid lightgray;
  background: lightyellow;
  height: 90vh;
}

.CountryInfo {
  border-radius: 8px;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid lightgray;
  width: 70%;
}

.CountryInfo h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.CountryInfo p {
  font-size: 16px;
  line-height: 1.5;
}

.CountryInfo .flag {
  background: lightgoldenrodyellow;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 120px;
  border-radius: 8px;
}